[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "*"
click = "*"
future = "*"
python-dotenv = "*"
python-telegram-bot = "*"
redis = "*"
rq = "*"

[dev-packages]
"autopep8" = "*"
pprint = "*"
pycodestyle = "*"

[requires]
python_version = "3.6"
